/* ------------------------------------------------Carousel Styles ------------------------------------------------ */
.carousel-inner img{
  height: 750px;
  object-fit: cover;
}




/* ------------------------------------------------Hero Section Styles ------------------------------------------------ */

.container{
  padding-bottom: 2px;
  border-bottom: 1px solid #E2E8F0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 120px;
} 

.container img{
  width: 500px;
  margin: 20px;
}

.container .Hero-left h1{
  font-weight: bold;
}
.container .Hero-left p{
  color: #4A5568;
}

.hero-buttons{
    display: flex;
    gap: 10px;
}

.hero-buttons button{
    cursor: pointer;
    font-size: 15px;
    background-color:#0F766E;
    color: white;
    padding: 5px 13px;
    border: 1px solid  #14B8A6;
    transition: 0.3s;
}

.hero-buttons button:hover{
  background-color: #0B3B39;
}




/* ----------------------------------------------------Quick Services Section------------------------------------------- */
.quick-services{
  padding: 25px 10px;
  background: linear-gradient(
    135deg,
    rgba(255,255,255,0.9),
    rgb(226, 238, 238)
  );
  backdrop-filter: blur(10px);
}

.service-text{
  padding-top: 15px;
}

.service-text h2{
  text-align: center;
  color: #0B3B39;
  font-weight: 600;
  margin-bottom: 0px;
}

.service-text p{
  color: #4A5568;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin-top: 0;
}

.step-card {
  background: #ffffff;
  transition: 0.3s ease;
  border: 1px solid #eef2f7;
  margin: auto;
}

.step-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.row img{
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin: 0 auto 15px;

}












/* ----------------------------------------------------How It Works Section------------------------------------------- */
.section-header {
    background: linear-gradient(
       135deg,
    rgba(20,184,166,0.08),
    rgba(15,118,110,0.05)
    );

    padding: 80px 20px 180px;
    text-align: center;
}

.section-header h2{
  text-align: center;
  color: #0B3B39;
  font-weight: 600;
}
.section-header p{
  width: 400px;
  margin: auto;
  color:#4B5563;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  margin-top: 0;
}
.steps-container{
  margin-top: -170px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap:30px;
  flex-wrap:wrap;
}
.steps-container .card .step-number{
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  background:#FFFFFF;
  border:2px solid #508b89;
  color:#0F766E;
  
  width:50px;
  height: 50px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  font-size: 18px;
  border-radius: 100%;
  margin: auto;
}
.steps-container .card .step-number p{
    margin: 14px;
}
.steps-container .card .step-icon{
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
  background-color: #E6FFFB;
  border-radius: 100px;
}

.steps-container .card{
  padding: 40px 20px 20px 20px; /* top right bottom left */
  min-height: 320px;
  position: relative;
  cursor: pointer;
  width: 220px;
  background: #fff;
  border-radius: 15px;
  margin: 20px;
  text-align: center;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}

.steps-container .card:hover{
  transform: perspective(1000px) scale(1.08);
}

/* .steps-container .card img{
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
} */
.steps-container .card h5{
  font-weight: 500;
  font-size: 20px;
}

.steps-container .card p{
  font-size: 15px;
  color: #4A5568;
}