.footer{
    padding-top: 20px;
    background: #0B3B39;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
    padding: 20px;
}



/* ------------------------------footer-left -------------------------- */
.footer-content-left{
    padding-left: 30px;
    padding-top: 0;
    margin-top: 0;
}
.footer .logo-part img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.footer .logo-part{
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer .text-part{
    width: 270px;
}
.footer .text-part p{
    color: #E2E8F0;
    padding-top: 25px;
    font-size: 12px;
}


.text-part .social-icon{
  width: 45px;
  height: 45px;
  background: #0B3B39;
  color: white;
  border-radius: 50%;
  border: 1px solid rgba(255,255,255,0.3);

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 20px;
}

.social-icons{
  display:flex;
  gap:15px;
}

.social-icon:hover{
    background:#0F766E;
    color: white;
    transform: scale(1.1);
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
}









/* -----------------------------footer-center Quick links--------------------------*/
.footer-content-center h4{
    color: #97e6dc;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    display: inline-block;
}
.footer-content-center ul{
    list-style: none;
    padding-left: 0;
}
.footer-content-center li a{
    text-decoration: none;
    color: #E2E8F0;
}

.footer-content-center li{
    cursor: pointer;
    color: #E2E8F0;
    padding-top: 3px;
}

.footer-content-center li::before {
    content: "›";
    margin-right: 8px;
    color: #97e6dc;
    font-size: 18px;
}




/* -----------------------------footer-center Popular services --------------------------*/
.footer-content-popular h4{
    color: #97e6dc;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    display: inline-block;
}
.footer-content-popular ul{
    list-style: none;
    padding-left: 0;
}

.footer-content-popular li{
    cursor: pointer;
    color: #E2E8F0;
    padding-top: 5px;
}


.footer-content-popular .service-icon{
    color: #97e6dc;
}




/* -----------------------------footer-right address---------------------------*/
.footer-content-right{
    padding-right: 30px;
}
.footer-content-right h4{
    color: #97e6dc;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    display: inline-block;
}

.footer-content-right ul{
    list-style: none;
    padding-left: 0;
}

.footer-content-right li{
    color: #E2E8F0;
    padding-top: 5px;
}

.footer-content-right .service-icon{
    color: #97e6dc;
}

.help_card{
    cursor: pointer;
    display: flex;
    text-align: center;
    gap: 15px;
    border: 1px solid #97e6dc;
    width: 200px;
    border-radius: 12px;
    align-items: center;
    background: linear-gradient(135deg, #0B3B39, #14524f);
}

.help_card:hover{
   transform: perspective(1000px) scale(1.08);
   box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}

.help_card .help-icon{
    font-size: 35px;
    color: white;
    margin-left: 10px;
}
.help_card h5{
    color: #97e6dc;
    display: inline-block;
    margin-top: 5px;
}
.help_card p{
    color: #E2E8F0;
    font-size: 12px;
}


 



/* ------------------------------footer-bottom-------------------------- */

.footer-bottom{
    border-top: 1px solid #E2E8F0;
    width: 94%;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0;
}

.footer-bottom p{
    margin: 0;
    font-size: 12px;
    color: #E2E8F0;
}










/* ------------------------------------------------Media quaries ------------------------------------------------ */
@media(max-width: 1090px){
    .footer-content {
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }

    .footer-content-left,
    .footer-content-center,
    .footer-content-popular,
    .footer-content-right {
        flex: 0 0 45%;
    }
}

@media(max-width: 874px){
    .footer-content{
        flex-direction: column;
        align-items: center;

    }
    .footer-content-left{
        padding-left: 0;
    }
    .footer-content-right{
        padding-right: 0;
    }
}
