.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #0B3B39;
}

.navbar .navbar-left{
    padding-left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.navbar .Logo{
    display: flex;
    align-items: center;
}

.navbar img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.logo-text {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
}

.logo-text p {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    color: #E2E8F0;
}

.logo-text span {
    font-size: 14px;
    color: #d6d6d6;
}

.navbar-links li a{
    text-decoration: none;
    color: #E2E8F0;
}
 
.navbar-links{ 
    padding-right: 30px;
    padding-top: 7px;
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 30px;
    list-style: none;
    color: #E2E8F0;
    font-size: 18px;
}
.navbar .navbar-links .active{
    border-bottom: 1px solid #14B8A6;
}

.menu-icon{
    display:none;
    font-size:30px;
    color:white;
    cursor:pointer;
}
.mobile-register{
    margin-left: 140px;
    display:block;
    list-style:none;
}

.mobile-register button{
    padding: 10px 22px;
    background:#0F766E;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}





/* ------------------------------------------------Media quaries ------------------------------------------------ */
@media (max-width: 1110px){
    .mobile-register{
       margin-left: 80px;
    }
}
@media(max-width: 1100px){
    .mobile-register{
        margin-left: 50px;
    }
}
@media (max-width:1080px) {
    .navbar-links{
        gap:20px;
        font-size:16px;
    }

    .navbar-right{
        gap:15px;
        padding-right:20px;
    }

    .navbar-right button{
        padding:8px 18px;
        font-size:15px;
    }
    .mobile-register button{
       padding:8px 16px;
       font-size:16px;
    }
}


@media (max-width:960px){

    .navbar{
        padding:10px;
    }

    .navbar img{
        width:50px;
        height:50px;
    }

    .logo-text p{
        font-size:18px;
    }

    .logo-text span{
        font-size:12px;
    }

    .navbar-links{
        gap:15px;
        font-size:15px;
        padding-right:10px;
    }

    .navbar-right{
        gap:10px;
        padding-right:10px;
    }

    .navbar-right button{
        padding:8px 14px;
        font-size:14px;
    }
}


@media (max-width:865px){
    .mobile-register{
       margin-left: 0px;
    }
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 10px 20px;
    }

    .menu-icon{
        display: block;
        font-size: 28px;
        color: white;
        cursor: pointer;
        margin: 0 20px;
    }

    .navbar-links{
        display: none;
    }

    .navbar-links.active-menu{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background: #0B3B39;
        padding: 20px 0;
        gap: 20px;
        text-align: center;
        z-index: 100;
    }

    .navbar-right{
        display:none;
    }
}